body {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
}

.field {
    font-size: 25px;
}

.description {
    border: 2px solid gray;
    width: 600px;
}

ol {
    margin: 8px 0;
    padding: 0;
}

.control {
    font-weight: bold;
}